.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: blue;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #1313D5;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.5s ease-in-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
    background: #5A5AD9;
    color: #0D0DA1;
    transition: all 0.5s ease-in-out;
}