.this-cont {
    background: url('../../static/dar.jpg') center center/cover no-repeat;
    padding-top: 75%;
    height: calc(150px - 100vh);
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
   
}

 .this-cont > h1 {
    color: #1313D5;
    font-size: 100px;
    margin-top: -100px;
 }

 .this-cont > p {
    margin-top: 8px;
    color: red;
    font-size: 32px;
    font-family: 'Carter One';
 }

 .dar-btns {
    margin-top: 32px;
 }

 .hero-btn .btn {
    margin: 6px;
 }

 @media screen and (max-width: 960px) {
    .this-cont > h1 {
        font-size: 70px;
        margin-top: -150px;
     }
 }

 @media screen and (max-width: 768px) {
    .this-cont > h1 {
        
        font-size: 50px;
        margin-top: -100px;
     }

     .this-cont > p {
        font-size: 30px;
     }

     .btn-mobile {
        display: block;
        text-decoration: none;
     }

     .btn {
        width: 100%;
     }
 }